.button {
  padding: 10px 12px;
  font: var(--f-text-s-bold);
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .6s linear;
}

.primary {
  composes: button;
  color: var(--primary-light);
  background-color: var(--primary-accent);
}

.primary:focus {
  padding: 8px 10px;
  background-color: var(--primary-accent);
  border: 2px solid var(--primary-light);
  outline: none;
}

.primary:disabled {
  color: var(--secondary-40);
  background-color: var(--secondary-60);
  cursor: not-allowed;
}

.secondary {
  composes: button;
  padding: 8px 10px;
  color: var(--primary-light);
  background-color: inherit;
  border: 1px solid var(--primary-light);
}

.secondary:focus {
  border: 1px solid var(--primary-accent);
}

.secondary:disabled {
  color: var(--secondary-40);
  border: 1px solid var(--secondary-40);
  cursor: not-allowed;
}

.text {
  color: var(--primary-light);
  font: var(--f-text-s-bold);
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .6s linear;
}

.text:focus {
  color: var(--primary-accent);
}

.text:disabled {
  color: var(--secondary-40);
}

.icon {
  margin :0;
  padding: 0;
  background: inherit;
  border: none;
  cursor: pointer;
}

.icon path {
  transition: fill .6s ease;
}

.icon:focus path {
  fill: var(--primary-accent);
}

.icon:disabled {
  cursor: not-allowed;
}

.icon:disabled path {
  fill: var(--secondary-40);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--secondary-50);
  }

  .secondary:hover {
    background-color: var(--secondary-80);
  }

  .text:hover {
    color: var(--primary-accent);
  }

  .icon:hover path {
    fill: var(--primary-accent);
  }
}
