.container {
  width: 64px;
  height: 64px;
  background-color: #ffe9dc;
}

.container_black {
  background-color: #dea483;
}

.container_active {
  background-color: aquamarine;
}

.container_target {
  box-sizing: border-box;
  border: 5px solid rgba(255, 0, 0, .3);
}