* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.black {
  background-color: #dea483;
}

.white {
  background-color: #ffe9dc;
}

.selected {
  background-color: aquamarine;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: brown;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin: 0 0 0 50px;
  background-color: lightgray;
}