.main {
  margin: 0 auto;
  max-width: 1104px;
  width: 90%;
}

.section {
  padding-top: 142px;
  padding-bottom: 90px;
  background-image: url('../../assets/intro-bg.png');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 100% 57px;
}

.title {
  width: 472px;
  color: var(--primary-light);
}

.notion {
  margin-top: 16px;
  color: var(--primary-light);
  width: 472px;
}

.button {
  margin-top: 48px;
}
