@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(./variables.css);

:root {
  font-family: var(--inter);
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  min-height: 568px;
  background-color: var(--primary-background);
}
