@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(./variables.css);

:root {
  font-family: var(--inter);
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: var(--primary-background);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: var(--primary-light);
  -webkit-text-fill-color: var(--primary-light);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-background) inset;
}
