:root {
  /* color scheme */
  --primary-light: #eaeaea;
  --primary-background: #081a22;
  --primary-accent: #2783aa;

  --secondary-85: #0c2733;
  --secondary-80: #103444;
  --secondary-60: #325969;
  --secondary-50: #1f6988;
  --secondary-40: #566D77;
  --secondary-20: #a7bbc3;
  --secondary-10: #d1e5ed;

  --service-error: #ba0070;
  --service-success: #2bdcbc;

  /* fonts family */
  --inter: Inter, Arial, sans-serif;

  /* fonts */
  --f-h1: normal 500 40px/1.2 var(--inter);
  --f-h2: normal 500 30px/1.2 var(--inter);
  --f-text-l: normal 600 18px/1.33 var(--inter);
  --f-text-m: normal 300 18px/1.33 var(--inter);
  --f-text-s: normal 300 16px/1.25 var(--inter);
  --f-text-s-bold: normal 500 16px/1.25 var(--inter);
  --f-label: normal 400 16px/1.25 var(--inter);
  --f-label-s: normal 400 12px/1.33 var(--inter);
  --f-label-s-bold: normal 600 12px/1.33 var(--inter);
}